# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/QueueMeSystem/nbproject/private/
/QueueMeSystem/QueueMeSystem-war/nbproject/private/
/QueueMeSystem/QueueMeSystem-ejb/nbproject/private/
/QueueMeSystem/QueueMeSystemJsf/nbproject/private/
/QueueMeSystem/QueueMeSystem-ejb/build/
/QueueMeSystem/QueueMeSystem-war/dist/
/QueueMeSystem/QueueMeSystem-war/build/
/QueueMeSystem/QueueMeSystemJsf/build/
/QueueMeSystem/QueueMeSystem-ejb/dist/
/QueueMeSystem/build/
/QueueMeSystem/QueueMeSystemJsf/dist/