<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>queueme</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.xhtml</location>
    </error-page>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/Kirvy-Bold</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>fa/fontawesome-webfont</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>fa/fontawesome-webfont</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>fa/fontawesome-webfont</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>fa/fontawesome-webfont</mime-type>
    </mime-mapping>
    <ejb-local-ref>
        <ejb-ref-name>BusinessEntityController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.BusinessEntityControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#BusinessEntityController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmailController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.EmailControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#EmailController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BusinessEntityController1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.BusinessEntityControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#BusinessEntityController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FoodCourtEntityController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.FoodCourtEntityControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#FoodCourtEntityController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>VendorEntityController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.VendorEntityControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#VendorEntityController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MenuEntityController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.MenuEntityControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#MenuEntityController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CreditCardEntityController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CreditCardEntityControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#CreditCardEntityController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderEntityController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.OrderEntityControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#OrderEntityController</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SaleTransactionEntityController</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.SaleTransactionEntityControllerLocal</local>
        <ejb-link>QueueMeSystem-ejb.jar#SaleTransactionEntityController</ejb-link>
    </ejb-local-ref>
</web-app>
